/*~
/.xmonad/history
/.xmonad/xmonad-x86_64-linux
/.xmonad/xmonad.errors
/.xmonad/xmonad.hi
/.xmonad/xmonad.o
/paktahn/.paktahn/cache
/paktahn/.paktahn/aur
/paktahn/.paktahn/checksums
/stumpwm/.stumpwmrc.fasl
/xmonad/.xmonad/prompt-history
/stumpwm/.stumpwm.d/debug.log
*.fasl
