#!/usr/bin/env bash
#
# ~/.xprofile
#

HOSTNAME=`hostname`
HOSTCONF="$HOME/.dotfiles/$HOSTNAME"

# Load default .Xresources
[[ -f ~/.Xresources ]] && xrdb -all -load ~/.Xresources

# Load default .Xresources by hostname
XRESOURCES="$HOSTCONF/.Xresources"
[[ -f $XRESOURCES ]] && xrdb -all -load $XRESOURCES

# Set wallpaper
feh --bg-scale ~/.xmonad/wallpapers/stop-customizing-start-working.jpg

# Use a better mouse pointer
xsetroot -cursor_name left_ptr

# Use the German keyboard layout
setxkbmap -layout de

# Use the CAPS-LOCK key as an additional control
setxkbmap -option "ctrl:nocaps"

# Enable X restart with CTRL-ALT-BACKSPACE
setxkbmap -option terminate:ctrl_alt_bksp

# Load .xmodmaprc by hostname
XMODMAPRC="$HOSTCONF/.xmodmaprc"
[ -f "$XMODMAPRC" ] && xmodmap $XMODMAPRC

# Start Music Player Daemon.
mpd &

# Hide mouse cursor when idle.
unclutter -idle 5 -noevents &

# Start the screensaver
xscreensaver -no-splash &

# Start xbindkeys - a grabbing keys program for X.
xbindkeys
