! DZEN2
dzen2.font: Terminus-6
dzen2.foreground: white
dzen2.background: black

! EMACS
Emacs.FontBackend: xft
Emacs.font: Monospace-6

! URXVT
URxvt.background: white
URxvt.font: xft:Bitstream Vera Sans Mono:pixelsize=20
URxvt.foreground: white
URxvt.inheritPixmap: true
URxvt.saveLines: 10000
URxvt.scrollBar: false
URxvt.secondaryScroll: true
URxvt.shading: 40
URxvt.urlLauncher: firefox

URxvt.tabbed.tabbar-fg: 3
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 0
URxvt.tabbed.tab-bg: 1
URxvt.tabbed.secondaryScroll: true
URxvt.tabbed.font: xft:Bitstream Vera Sans Mono:pixelsize=12
URxvt.tabbed.perl-ext-common: mark-urls
URxvt.tabbed.urlLauncher: firefox
