#!/usr/bin/env bash
#
# ~/.xprofile
#

# Configure external monitor.
~/.dotfiles/bin/external-monitor

# Load default .Xresources
[ -f ~/.Xresources ] && xrdb -all -load ~/.Xresources

# Load default .Xresources by hostname
XRESOURCES_HOST=~/.Xresources.$(hostname)
[ -f $XRESOURCES_HOST ] && xrdb -merge $XRESOURCES_HOST

# Start composite, a compositor for X11.
#compton &

# Dunst
killall dunst; dunst &

# Use a better mouse pointer
xsetroot -cursor_name left_ptr

# Load xmodmap
[ -f ~/.xmodmaprc ] && xmodmap ~/.xmodmaprc

# Start Music Player Daemon.
mpd &

# Hide mouse cursor when idle.
unclutter -idle 5 -noevents &

# Start the screensaver
xscreensaver -no-splash &

# Start xbindkeys - a grabbing keys program for X.
xbindkeys

# Set wallpaper
feh --bg-scale ~/.dotfiles/wallpapers/stop-customizing-start-working.jpg
